<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmApp.salesperson.home.title">Salespeople</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="salespeople?.length === 0">
        <jhi-salesperson-filter [request]="salespersonCriteria" (onFind)="findSalespeople(1)"></jhi-salesperson-filter>
        <div class="alert alert-warning">
            <span jhiTranslate="crmApp.salesperson.home.notFound">No salespeople found</span>
        </div>
    </div>
    <div class="table-responsive" *ngIf="salespeople?.length > 0">
        <jhi-salesperson-filter [request]="salespersonCriteria" (onFind)="findSalespeople(1)"></jhi-salesperson-filter>
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="crmApp.salesperson.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="crmApp.salesperson.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="crmApp.salesperson.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="pesel"><span jhiTranslate="crmApp.salesperson.pesel">Pesel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="crmApp.salesperson.phoneNumber">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"><span jhiTranslate="crmApp.salesperson.address">Address</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let salesperson of salespeople ;trackBy: trackId">
                <td><a [routerLink]="['/salesperson', salesperson.id, 'view' ]">{{salesperson.id}}</a></td>
                <td>{{salesperson.firstName}}</td>
                <td>{{salesperson.lastName}}</td>
                <td>{{salesperson.email}}</td>
                <td>{{salesperson.pesel}}</td>
                <!--<td>{{salesperson.birthDate | date:'mediumDate'}}</td>-->
                <td>{{salesperson.phoneNumber}}</td>
                <td>
                    <div>{{salesperson.streetName + ' ' + salesperson.buildingNumber + '/' + salesperson.localNumber}}</div>
                    <div>{{salesperson.zipCode + ' ' + salesperson.city}}</div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/salesperson', salesperson.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="salespeople?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
