<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="salesperson">
            <h2><span jhiTranslate="crmApp.salesperson.detail.title">Salesperson</span> {{salesperson.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmApp.salesperson.firstName">First Name</span></dt>
                <dd>
                    <span>{{salesperson.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.salesperson.lastName">Last Name</span></dt>
                <dd>
                    <span>{{salesperson.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.salesperson.email">Email</span></dt>
                <dd>
                    <span>{{salesperson.email}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.salesperson.pesel">Pesel</span></dt>
                <dd>
                    <span>{{salesperson.pesel}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.salesperson.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{salesperson.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.salesperson.streetName">Street Name</span></dt>
                <dd>
                    <span>{{salesperson.streetName}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.salesperson.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{salesperson.zipCode}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.salesperson.city">City</span></dt>
                <dd>
                    <span>{{salesperson.city}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.salesperson.buildingNumber">Building Number</span></dt>
                <dd>
                    <span>{{salesperson.buildingNumber}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.salesperson.localNumber">Local Number</span></dt>
                <dd>
                    <span>{{salesperson.localNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
