/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: floralwhite;
  left: -1.5em;
  -moz-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
  -o-transform: rotate(-24deg);
  -webkit-transform: rotate(-24deg);
  transform: rotate(-24deg);
  overflow: hidden;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 15em;
  z-index: 9999;
  pointer-events: none;
  opacity: 0.8;
  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}
.logo {
  display: inline-block;
  width: 130px;
  height: 50px;
  background: url('../../../content/images/wizards.png') no-repeat center top;
  background-size: contain;
  margin-left: 25px !important;
}
