<div class="form-inline">
    <label class="filter-item" jhiTranslate="global.field.id">ID</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.id">

    <label class="filter-item" jhiTranslate="employeeApp.employee.firstName">First name</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.firstName">

    <label class="filter-item" jhiTranslate="employeeApp.employee.lastName">Last name</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.lastName">

    <label class="filter-item" jhiTranslate="employeeApp.employee.email">Email</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.email">

    <label class="filter-item" jhiTranslate="employeeApp.employee.pesel">Pesel</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.pesel">

    <label class="filter-item" jhiTranslate="employeeApp.employee.jobTitle">Job title</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.jobTitle">

    <div class="btn-group">
        <button class="btn btn-info btn-sm" (click)="clear()">
            <span class="d-md-inline" jhiTranslate="global.field.clear">Clear</span>
        </button>
        <button class="btn btn-primary btn-sm" (click)="find()">
            <span class="d-md-inline" jhiTranslate="global.field.find">Find</span>
        </button>
    </div>
</div>
