<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="employeeApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="employeeApp.employee.firstName">First Name</span></dt>
                <dd>
                    <span>{{employee.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.lastName">Last Name</span></dt>
                <dd>
                    <span>{{employee.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.email">Email</span></dt>
                <dd>
                    <span>{{employee.email}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.pesel">Pesel</span></dt>
                <dd>
                    <span>{{employee.pesel}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{employee.birthDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{employee.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.salary">Salary</span></dt>
                <dd>
                    <span>{{employee.salary}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.jobTitle">Job Title</span></dt>
                <dd>
                    <span>{{employee.jobTitle}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.streetName">Street Name</span></dt>
                <dd>
                    <span>{{employee.streetName}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{employee.zipCode}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.city">City</span></dt>
                <dd>
                    <span>{{employee.city}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.buildingNumber">Building Number</span></dt>
                <dd>
                    <span>{{employee.buildingNumber}}</span>
                </dd>
                <dt><span jhiTranslate="employeeApp.employee.localNumber">Local Number</span></dt>
                <dd>
                    <span>{{employee.localNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
