<h2 id="page-heading">
    <span jhiTranslate="employeeApp.employee.home.title">Employees</span>
    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee" [routerLink]="['/employee/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span  jhiTranslate="employeeApp.employee.home.createLabel">
            Create a new Employee
        </span>
    </button>
</h2>
<jhi-alert-error></jhi-alert-error>
<jhi-alert></jhi-alert>
<br/>
<div *ngIf="employees?.length === 0">
    <jhi-employee-filter [request]="employeeCriteria" (onFind)="findEmployees(1)"></jhi-employee-filter>
    <div class="alert alert-warning" >
        <span jhiTranslate="employeeApp.employee.home.notFound">No employees found</span>
    </div>
</div>
<div class="table-responsive" *ngIf="employees?.length > 0">
    <jhi-employee-filter [request]="employeeCriteria" (onFind)="findEmployees(1)"></jhi-employee-filter>
    <table class="table table-striped" aria-describedby="page-heading">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon [icon]="'sort'"></fa-icon>
            </th>
            <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="employeeApp.employee.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="employeeApp.employee.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="employeeApp.employee.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pesel"><span jhiTranslate="employeeApp.employee.pesel">Pesel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="birthDate"><span jhiTranslate="employeeApp.employee.birthDate">Birth Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="employeeApp.employee.phoneNumber">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="salary"><span jhiTranslate="employeeApp.employee.salary">Salary</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="jobTitle"><span jhiTranslate="employeeApp.employee.jobTitle">Job Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"><span jhiTranslate="employeeApp.employee.address">Address</span></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees;trackBy: trackId">
            <td><a [routerLink]="['/employee', employee.id, 'view' ]">{{employee.id}}</a></td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.pesel}}</td>
            <td>{{employee.birthDate | date:'mediumDate'}}</td>
            <td>{{employee.phoneNumber}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.jobTitle}}</td>
            <td>
                <div>{{employee.streetName + ' ' + employee.buildingNumber + '/' + employee.localNumber}}</div>
                <div>{{employee.zipCode + ' ' + employee.city}}</div>
            </td>
            <td class="text-right">
                <div class="btn-group">
                    <button type="submit"
                            [routerLink]="['/employee', employee.id, 'view' ]"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/employee', employee.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/employee', { outlets: { popup: employee.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div [hidden]="employees?.length === 0">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>
