<div class="form-inline">
    <label class="filter-item" jhiTranslate="global.field.id">ID</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.id">

    <label class="filter-item" jhiTranslate="crmApp.customer.name">Name</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.name">

    <label class="filter-item" jhiTranslate="crmApp.customer.nip">Nip</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.nip">

    <label class="filter-item" jhiTranslate="crmApp.customer.regon">Regon</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.regon">

    <div class="btn-group">
        <button class="btn btn-primary btn-sm" (click)="clear()">
            <span class="d-md-inline" jhiTranslate="global.field.clear">Clear</span>
        </button>
        <button class="btn btn-info btn-sm" (click)="find()">
            <span class="d-md-inline" jhiTranslate="global.field.find">Find</span>
        </button>
    </div>
</div>
