<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="crmApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmApp.customer.name">Name</span></dt>
                <dd>
                    <span>{{customer.name}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.nip">Nip</span></dt>
                <dd>
                    <span>{{customer.nip}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.regon">Regon</span></dt>
                <dd>
                    <span>{{customer.regon}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.website">Website</span></dt>
                <dd>
                    <span>{{customer.website}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.email">Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{customer.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.streetName">Street Name</span></dt>
                <dd>
                    <span>{{customer.streetName}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{customer.zipCode}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.city">City</span></dt>
                <dd>
                    <span>{{customer.city}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.buildingNumber">Building Number</span></dt>
                <dd>
                    <span>{{customer.buildingNumber}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.localNumber">Local Number</span></dt>
                <dd>
                    <span>{{customer.localNumber}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.contacts">Contacts</span></dt>
                <dd>
                    <span *ngFor="let contact of customer.contacts; let last = last">
                        <a [routerLink]="['/contact', contact?.id, 'view' ]">{{contact.firstName}} {{contact.lastName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="crmApp.customer.purchases">Purchases</span></dt>
                <dd>
                    <span *ngFor="let purchase of customer.purchases; let last = last">
                        <div>
                            <a [routerLink]="['/product', purchase?.product.id, 'view']">
                                {{purchase.product.name}} ({{purchase.createDate}} - {{purchase.finishDate}})</a>
                        </div>
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
