<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span jhiTranslate="crmApp.contact.detail.title">Contact</span> {{contact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmApp.contact.firstName">First Name</span></dt>
                <dd>
                    <span>{{contact.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.contact.lastName">Last Name</span></dt>
                <dd>
                    <span>{{contact.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.contact.email">Email</span></dt>
                <dd>
                    <span>{{contact.email}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.contact.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{contact.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.contact.streetName">Street Name</span></dt>
                <dd>
                    <span>{{contact.streetName}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.contact.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{contact.zipCode}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.contact.city">City</span></dt>
                <dd>
                    <span>{{contact.city}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.contact.buildingNumber">Building Name</span></dt>
                <dd>
                    <span>{{contact.buildingNumber}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.contact.localNumber">Local Number</span></dt>
                <dd>
                    <span>{{contact.localNumber}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.contact.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="contact.customerId">
                        <a [routerLink]="['/customer', contact.customerId, 'view']">{{contact.customerName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
