<div class="form-inline">
    <label class="filter-item" jhiTranslate="global.field.id">ID</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.id">

    <label class="filter-item" jhiTranslate="crmApp.contact.firstName">First name</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.firstName">

    <label class="filter-item" jhiTranslate="crmApp.contact.lastName">Last name</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.lastName">

    <label class="filter-item" jhiTranslate="crmApp.contact.email">Email</label>
    <input type="text" class="form-control-sm no-border filter-input" [(ngModel)]="request.email">

    <div class="btn-group">
        <button class="btn btn-primary btn-sm" (click)="clear()">
            <span class="d-md-inline" jhiTranslate="global.field.clear">Clear</span>
        </button>
        <button class="btn btn-info btn-sm" (click)="find()">
            <span class="d-md-inline" jhiTranslate="global.field.find">Find</span>
        </button>
    </div>
</div>
