<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmApp.opportunity.home.title">Opportunities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-opportunity" [routerLink]="['/opportunity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crmApp.opportunity.home.createLabel">
            Create a new Opportunity
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="opportunities?.length === 0">
        <span jhiTranslate="crmApp.opportunity.home.notFound">No opportunities found</span>
    </div>
    <div class="table-responsive" *ngIf="opportunities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col" jhiSortBy="name"><span jhiTranslate="crmApp.opportunity.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col" jhiSortBy="stage"><span jhiTranslate="crmApp.opportunity.stage">Stage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col" jhiSortBy="probability"><span jhiTranslate="crmApp.opportunity.probability">Probability</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col" jhiSortBy="customerName"><span jhiTranslate="crmApp.opportunity.customer">Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"><span jhiTranslate="crmApp.opportunity.salesperson">Salesperson</span></th>
            <th scope="col"><span jhiTranslate="crmApp.opportunity.contact">Contact</span></th>
            <!--<th scope="col"><span jhiTranslate="crmApp.opportunity.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let opportunity of opportunities ;trackBy: trackId">
                <td><a [routerLink]="['/opportunity', opportunity.id, 'view' ]">{{opportunity.id}}</a></td>
                <td>{{opportunity.name}}</td>
                <td>{{opportunity.stage}}</td>
                <td>{{opportunity.probability}}</td>
                <td>
                    <div *ngIf="opportunity.customerId">
                        <a [routerLink]="['/customer', opportunity.customerId , 'view' ]" >{{opportunity.customerName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="opportunity.salespeople">
                        <div *ngFor="let salesperson of opportunity.salespeople">
                            <a [routerLink]="['/salesperson', salesperson?.id, 'view' ]">{{salesperson.firstName}} {{salesperson.lastName}}</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="opportunity.contacts">
                        <div *ngFor="let contact of opportunity.contacts">
                            <a [routerLink]="['/contact', contact?.id, 'view' ]">{{contact.firstName}} {{contact.lastName}}</a>
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/opportunity', opportunity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/opportunity', opportunity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/opportunity', { outlets: { popup: opportunity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="opportunities?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
