<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-opportunity-heading" jhiTranslate="crmApp.opportunity.home.createOrEditLabel">Create or edit a Opportunity</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmApp.opportunity.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmApp.opportunity.stage" for="field_stage">Stage</label>
                    <input type="text" class="form-control" name="stage" id="field_stage"
                           formControlName="stage"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmApp.opportunity.probability" for="field_probability">Probability</label>
                    <input type="number" class="form-control" name="probability" id="field_probability"
                           formControlName="probability"/>
                    <div *ngIf="editForm.get('probability').invalid && (editForm.get('probability').dirty || editForm.get('probability').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('probability').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('probability').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('probability')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmApp.opportunity.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="code" id="field_description"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmApp.opportunity.created" for="field_created">Created</label>
                    <div class="input-group">
                        <input id="field_created" type="text" class="form-control" name="created" ngbDatepicker  #createdDp="ngbDatepicker" formControlName="created"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmApp.opportunity.closeDate" for="field_closeDate">Close Date</label>
                    <div class="input-group">
                        <input id="field_closeDate" type="text" class="form-control" name="closeDate" ngbDatepicker  #closeDateDp="ngbDatepicker" formControlName="closeDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="closeDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmApp.opportunity.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customerId" (change)="onCustomerSelect($event.target.value)">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="crmApp.opportunity.salesperson" for="field_salespeople">Salesperson</label>
                    <select class="form-control" id="field_salespeople" multiple name="salespeople" formControlName="salespeople">
                        <option [ngValue]="getSelected(editForm.get('salespeople').value, salespersonOption)" *ngFor="let salespersonOption of salespeople; trackBy: trackSalespersonById">{{salespersonOption.firstName}} {{salespersonOption.lastName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="crmApp.opportunity.contact" for="field_contacts">Contact</label>
                    <select class="form-control" id="field_contacts" multiple name="contacts" formControlName="contacts">
                        <option [ngValue]="getSelected(editForm.get('contacts').value, contactOption)" *ngFor="let contactOption of contacts; trackBy: trackContactById">{{contactOption.firstName}} {{contactOption.lastName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="crmApp.opportunity.product" for="field_products">Product</label>
                    <select class="form-control" id="field_products" multiple name="products" formControlName="products">
                        <option [ngValue]="getSelected(editForm.get('products').value, productOption)" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
