<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="opportunity">
            <h2><span jhiTranslate="crmApp.opportunity.detail.title">Opportunity</span> {{opportunity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmApp.opportunity.name">Name</span></dt>
                <dd>
                    <span>{{opportunity.name}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.opportunity.stage">Stage</span></dt>
                <dd>
                    <span>{{opportunity.stage}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.opportunity.probability">Probability</span></dt>
                <dd>
                    <span>{{opportunity.probability}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.opportunity.description">Description</span></dt>
                <dd>
                    <span>{{opportunity.description}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.opportunity.created">Created</span></dt>
                <dd>
                    <span>{{opportunity.created | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.opportunity.closeDate">Close Date</span></dt>
                <dd>
                    <span>{{opportunity.closeDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="crmApp.opportunity.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="opportunity.customerId">
                        <a [routerLink]="['/customer', opportunity.customerId, 'view']">{{opportunity.customerName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crmApp.opportunity.salesperson">Salesperson</span></dt>
                <dd>
                    <span *ngFor="let salesperson of opportunity.salespeople; let last = last">
                        <a [routerLink]="['/salesperson', salesperson?.id, 'view' ]">{{salesperson.firstName}} {{salesperson.lastName}}</a>
                        {{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="crmApp.opportunity.contact">Contact</span></dt>
                <dd>
                    <span *ngFor="let contact of opportunity.contacts; let last = last">
                        <a [routerLink]="['/contact', contact?.id, 'view' ]">{{contact.firstName}} {{contact.lastName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="crmApp.opportunity.product">Product</span></dt>
                <dd>
                    <span *ngFor="let product of opportunity.products; let last = last">
                        <a [routerLink]="['/product', product?.id, 'view' ]">{{product.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/opportunity', opportunity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
